<footer class="w-full text-center text-gray-200 p-8 pin-b bg-indigo-900 mt-10">
  <div class="container mx-auto flex md:items-center justify-between flex-col md:flex-row py-4">
    <div class="text-left">
       <%= img_tag(Routes.static_path(@conn, "/images/cw-logo-light.svg"), class: "h-8") %>
        <p class="mt-2">
            <%= "#{Mix.env()} environment -" %> version :
            <small> <%= Application.spec(:countriesweather, :vsn) %>  </small>
       </p>
    </div>
    <ul class="text-left my-4 md:m-0 list-reset">
      <li>Read the <a href="https://gitlab.com/sbouaked/countriesweather/blob/master/README.md" class="light-text font-medium mr-4 underline">Readme</a></li>
      <li>Check out the <a href="https://gitlab.com/sbouaked/countriesweather/pipelines" class="light-text font-medium underline">Deployments Pipeline</a></li>
    </ul>
    <ul class="text-left my-4 md:m-0 list-reset">
      <li>Access to <a href="/requests" target="_blank" class="light-text font-medium mr-4 underline">Logs requests</a></li>
      <li>Check out the <a href="https://gitlab.com/sbouaked/countriesweather" target="_blank" class="light-text font-medium mr-4 underline">Gitlab Repo</a></li>
      <li>Study the <a href="https://documenter.getpostman.com/view/222453/SWDzdg2E" class="light-text font-medium mr-4 underline">API doc</a></li>
    </ul>
  </div>
</footer>