<nav class="container mx-auto flex items-center justify-between px-2 mt-10 md:mt-0 py-4">
    <div class="flex items-center justify-around mx-auto sm:mx-2 sm:px-4 py-4">
        <a href="/">
            <%= img_tag(Routes.static_path(@conn, "/images/cw-logo.svg"), class: "") %>
        </a>
    </div>
    <div>
        <%= if @current_user do %>
            <ul class="flex hidden md:block">
                <span class="mr-2 py-3 px-3"><%= @current_user.username %></span>
                <%= link "log out", class: "font-bold rounded py-2 px-3 hover:bg-grey-lighter", to: Routes.session_path(@conn, :delete, @current_user), method: "delete" %>
            </ul>
        <% else %>
            <ul class="flex hidden md:block">
                <li>
                    <%= link "Log in", class: "font-bold rounded py-2 px-3 hover:bg-grey-lighter", style: "line-height: 33px;", to: Routes.session_path(@conn, :new) %>
                    <%= link "Register", class: "button button-md hidden sm:inline", to: Routes.user_path(@conn, :new) %>
                </li>
            </ul>
        <% end %>
    </div>
</nav>