<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Countriesweather</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="flex flex-col h-full bg-gray-100 ">
       <%= render "_nav.html" , current_user: @current_user, conn: @conn %>
       <%= if get_flash(@conn, :success) do %>
              <div id="flash" class="text-center bg-green-500 text-green-500 text-sm font-bold px-4 absolute w-full transition overflow-hidden" style="top: 91px" role="alert">
                <p class="py-3 "><%= get_flash(@conn, :success) %></p>
              </div>
       <% end %>

       <%= if get_flash(@conn, :error) do %>
              <div id="flash" class="text-center bg-red-500 text-red-100 text-sm font-bold px-4 absolute w-full transition overflow-hidden" style="top: 91px" role="alert">
                <p class="py-3 "><%= get_flash(@conn, :error) %></p>
              </div>
       <% end %>

       <main class="flex-1 mt-10 md:mt-2">
        <%= render @view_module, @view_template, assigns %>
       </main>

        <%= render("_footer.html", assigns) %>
        <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js"></script>
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
        <script>
            (function (w,d,s,o,f,js,fjs) {
            w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
            js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
            js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
            }(window, document, 'script', 'plausible', 'https://plausible.io/js/p.js'));

            plausible('page')
        </script>
  </body>
</html>
