<h1>Listing Users</h1>
<table>
  <%= for user <- @users do %>
    <tr>
      <td><b><%= first_name(user) %></b> - id : <%= user.id %></td>
      <td><%= link "View", to: Routes.user_path(@conn, :show, user.id)%></td>
    </tr>
  <% end %>
</table>
