<%= if @changeset.action do %>
  <div class="">
    <p>Oops, something wen wrong ! Please check the errors below.</p>
  </div>
<% end %>

<%= form_for @changeset, Routes.user_path(@conn, :create), [class: "max-w-sm w-4/5 sm:w-full mx-auto bg-white shadow-md rounded px-8 py-6 mb-4 mt-8"], fn f -> %>
  <div class="flex items-center justify-between">
    <h2>Enter your details to get started</h2>
  </div>
  <div class="my-4 mt-8">
    <%= label f, :name, "Full name", class: "block text-gray-900 text-sm font-bold mb-2" %>
    <%= text_input f, :name, class: "transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-100", placeholder: "Jane Doe" %>
    <%= error_tag f, :name %>
  </div>
   <div class="my-4">
      <%= label f, :username, "Username", class: "block text-gray-900 text-sm font-bold mb-2" %>
      <%= text_input f, :username, class: "transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-100", placeholder: "jdoe" %>
      <%= error_tag f, :username %>
    </div>
  <div class="my-4">
    <%= label f, :password, class: "block text-gray-900 text-sm font-bold mb-2" %>
    <%= password_input f, :password, class: "transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-100", placeholder: "************" %>
    <%= error_tag f, :password %>
  </div>
  <%= submit "Create account →", class: "button mt-4 w-full" %>
  <p class="text-center text-gray-900 text-xs mt-4">
    Already have an account? <%= link "Log in", to: Routes.session_path(@conn, :new) %> instead.
  </p>
<% end %>