<%= form_for @conn, Routes.session_path(@conn, :create), [class: "w-4/5 sm:w-full  max-w-sm mx-auto bg-white shadow-md rounded px-8 py-6 mt-8", as: :session], fn f -> %>
  <h2 class=""><%= get_flash(@conn, :login_title) || "Enter your email and password" %></h2>
  <div class="my-4 mt-8">
    <%= label f, :username, class: "block text-gray-900 text-sm font-bold mb-2" %>
    <%= text_input f, :username, class: "bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-100", placeholder: "jdoe" %>
  </div>
  <div class="my-4">
    <%= label f, :password, class: "block text-gray-900 text-sm font-bold mb-2" %>
    <%= password_input f, :password, class: "transition bg-gray-100 appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-100" %>
  </div>
  <%= submit "Login →", class: "button mt-4 w-full" %>
  <p class="text-center text-gray-900 text-xs mt-4">
  Don't have an account? <%= link("Register", to: Routes.user_path(@conn, :new)) %> instead.</p>
<% end %>

