<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Countriesweather</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body class="flex flex-col h-full bg-grey-lightest">
    <div class="container text-center mt-24 mx-auto">
      <h1 class="text-5xl font-black"><%= @status %></h1>
      <div class="my-4 text-xl"><%= @message %></div>
      <%= link("Go to the homepage", to: "/", class: "button mt-4") %>
    </div>
  </body>
</html>
