/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
.button {
    @apply inline-block bg-indigo-500 text-white text-center font-bold tracking-wide py-3 px-5 rounded no-underline;
}

.button:hover {
    @apply shadow;
}

.button:focus {
    @apply outline-none;
}

.button-outline {
    @apply bg-transparent border border-indigo-500 text-indigo-500;
}

.button-sm {
    @apply text-sm py-2 px-4;
}

.button-md {
    @apply py-2 px-4;
}


.button-xs {
    @apply text-xs py-2 px-2;
}

.pagination-list {
    @apply flex my-5;
}

.pagination-link {
    @apply button button-xs bg-gray-500 mr-2;
}

.pagination-link:active {
    @apply button button-xs bg-indigo-500 mr-2;
}

.pagination-ellipsis {
    @apply button button-xs bg-gray-500 mr-2;
}
.is-current {
    @apply bg-indigo-500;
}
html {
    @apply font-sans text-gray-900;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@tailwind utilities;
