<div class="container mx-auto px-6">
    <div class="flex justify-start my-4 w-full">
        <div class="pt-2 relative text-gray-600">
         <%= form_for @conn, Routes.request_path(@conn, :index),[method: :get], fn f -> %>
             <%= search_input f, :query, [
                class: "border-2 border-gray-300 bg-white h-10 px-2 sm:px-5 rounded-lg text-xs sm:text-sm focus:outline-none"
             ]
             %>
            <%= submit "Search" , [class: "button button-xs sm:button-sm ml-2  hover:bg-indigo-900"] %>
         <% end %>
        </div>
    </div>
    <%= for request <- @requests do %>
    <div class="flex items-center justify-between w-full bg-white shadow rounded py-2 px-8 sm:px-12 mb-2">
        <div class="flex items-center items-end justify-start w-full ">
            <div class="flex items-center items-start w-full">
                <%= link request.inserted_at, class: "mx-1 sm:mx-2 sm:text-base text-indigo-500 font-light hover:font-underline hover:text-indigo-900 mx-2 sm:w-4/12", to: "#" %>
                <%= link request.ip, class: "hidden lg:block mx-1 sm:mx-2 sm:text-base text-indigo-500 font-light hover:font-underline hover:text-indigo-900 mx-2 sm:w-3/12", to: "#" %>
                <%= link request.request_type, class: "text-xs sm:text-base font-semibold text-gray-900 hover:text-indigo-500 mx-2  sm:w-2/12" , to: "#" %>
                <%= link request.reponse_status, class: "text-xs sm:text-base font-semibold text-gray-900 hover:text-indigo-500 mx-2  sm:w-1/12" , to: "#" %>
                <%= link request.request_path, class: "hidden sm:block text-xs sm:text-base font-semibold text-gray-900 hover:text-indigo-500 mx-2 sm:w-full" , to: "#" %>
            </div>
        </div>
    </div>
    <% end %>
    <div class="flex justify-center w-full">
        <div class="flex justify-center max-w-sm">
            <%= pagination_links @page, next: "Next", previous: "Prev", view_style: :bulma %>
        </div>
    </div>
</div>