<div class="container mx-auto mt-2 px-8">

    <%= link "Back", class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded", to: Routes.country_path(@conn, :index) %>
    <h3 class="font-black text-center text-2xl my-2"><%= first_element(@country.name) %></h3>
    <%= render "form.html", Map.put(assigns, :action, Routes.country_path(@conn, :update, @country)) %>
    <div class="container mx-auto mt-2 ">
        <%= link "Delete", class: "button button-sm button-outline w-full sm:w-1/4", to: Routes.country_path(@conn, :delete, @country), method: :delete, data: [confirm: "Are you sure?"] %>
    </div>

</div>
