<%= form_for @changeset, @action, fn f -> %>
    <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
    <% end %>
    <div class="mb-2">
      <%= label f, :name , class: "block text-gray-900 text-sm font-bold mb-2" %>
      <%= text_input f, :name , class: "bg-white border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-400" %>
      <%= error_tag f, :name %>
    </div>
    <div class="mb-2">
      <%= label f, :region , class: "block text-gray-900 text-sm font-bold mb-2"%>
      <%= text_input f, :region , class: "transition bg-white appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-400" %>
      <%= error_tag f, :region %>
    </div>
    <div class="mb-2">
      <%= label f, :subregion , class: "block text-gray-900 text-sm font-bold mb-2" %>
      <%= text_input f, :subregion , class: "transition bg-white appearance-none border border-transparent rounded w-full p-2 text-gray-900 leading-normal appearance-none focus:outline-none focus:bg-white focus:border-gray-400"%>
      <%= error_tag f, :subregion %>
    </div>
    <div class="container flex">
        <div class="flex w-full sm:w-1/4">
            <%= submit  "Save", class: "flex justify-center button w-full mt-4" %>
        </div>
    </div>
<% end %>
