<div class="container mx-auto px-6">
    <h3 class="font-black text-center text-2xl my-8">Countries to visit</h3>
   <div class="flex justify-start my-4 w-full">
           <div class="pt-2 relative text-gray-600">
               <%= form_for @conn, Routes.country_path(@conn, :index),[method: :get], fn f -> %>
                   <%= search_input f, :query, [
                       class: "border-2 border-gray-200 bg-white h-10 px-2 sm:px-5 rounded-sm md:rounded-lg text-xs sm:text-sm focus:outline-none"
                       ]
                   %>
                   <%= submit "Search" , [class: "button button-xs sm:button-sm ml-2 hover:bg-indigo-900"] %>
               <% end %>
           </div>
       </div>

    <%= for country <- @countries do %>
        <div class="flex items-center justify-between w-full bg-white shadow rounded py-2 px-8 sm:px-12 mb-2">
            <div class="flex items-center items-end justify-start w-full ">
                <div class="flex items-center items-start sm:w-2/6">
                    <%= link  country.flag, class: "mx-1 sm:mx-2 sm:text-4xl text-indigo-500 font-light hover:font-underline hover:text-indigo-900", to: "https://en.wikipedia.org/wiki/#{first_element(country.name)}" %>
                    <%= link first_element(country.name), class: "text-xs sm:text-base font-semibold text-gray-900 hover:text-indigo-500" , to: Routes.country_path(@conn, :show, country) %>
                </div>
                <div class="flex items-center items-start hidden sm:block">
                    <%= link  country.region, class: "mx-2  text-indigo-900 font-light hover:font-underline hover:text-indigo-500", to: "https://en.wikipedia.org/wiki/#{country.region}" %>
                    <%= link  country.subregion, class: "mx-2  text-indigo-900 font-light hover:font-underline hover:text-indigo-500", to: "https://en.wikipedia.org/wiki/#{country.subregion}" %>
                </div>
              </div>
            <div class="flex items-center items-end justify-end">
                <%= link "Edit", class: "button py-1 px-2 text-xs text-white hover:bg-indigo-900 ", to: Routes.country_path(@conn, :edit, country) %>
            </div>
        </div>
    <% end %>
      <div class="flex justify-center w-full">
        <div class="flex justify-center max-w-sm">
                <%= pagination_links @page, next: "Next", previous: "Prev", view_style: :bulma %>
            </div>
        </div>
      </div>
</div>
