<div class="container mx-auto px-6">
    <div class="mt-6"><%= link "Back", to: Routes.country_path(@conn, :index), class: "button button-sm bg-gray-300 text-gray-800" %></div>

    <h3 class="font-black text-center text-2xl my-8">New Country</h3>
    <%= render "form.html", Map.put(assigns, :action, Routes.country_path(@conn, :create)) %>

</div>